* {
    font-family: 微软雅黑, "Microsoft YaHei";
}

body {
    margin: 0 auto;
    min-width: 700px;
    width: 60%;
}

#header {
    min-width: 700px;
    margin-top: 10px;
}

a {
    text-decoration: none;
}

.logo {
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

.title {
    display: inline;
}

.title > span {
    position: absolute;
    line-height: 60px;
    font-size: 28px;
    margin-left: 10px;
}

.login {
    padding: 4px;
    float: right;
}

#content {
    margin-top: 10px;
}

.soft-list > .item {
    border-right: 1px solid #cacaca;
    border-bottom: 1px solid #cacaca;
    border-left: 1px solid #cacaca;
    padding: 4px;
    line-height: 32px;
    overflow: hidden;
}

/**
 first-child 第一个
 */
.soft-list > .item:first-child {
    border-top: 1px solid #cacaca;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.soft-list > .item:nth-last-of-type(2) {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.soft-list > .item > .item-left {
    width: 70%;
}

.soft-list > .item > .item-right {
    width: 30%;
    margin: 0;
    text-align: center;
}

.download {
    display: block;
    width: 70px;
    padding: 0 10px 0 10px;
    margin: 0 auto;
    border: 0;
    background: #72acf5;
    color: #fff;
    height: 30px;
    border-radius: 4px;
    box-shadow: 1px 2px 1px #adadad;
    cursor: pointer;
}

.soft-list > .item > .item-left,
.soft-list > .item > .item-right {
    float: left;
}

.soft-list > .item > .item-left > img {
    width: 32px;
    height: 32px;
}

.soft-title {
    position: absolute;
    margin-left: 4px;
    color: #000000;
}

/**
说明
 */
.soft-exp {
    color: #575757;
    font-size: 14px;
    margin: 0;
}

.page > .page-item {
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    padding: 2px;
    cursor: pointer;
    text-align: center;
    float: left;
    border: 1px solid #cccccc;
    border-right: 0;
    user-select: none;
}

.page > .page-item:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.page > .page-item:last-child {
    border-right: 1px solid #cccccc;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.page > .page-item.active {
    background: #8ac7f7;
    color: #fff;
}

.btn {
    float: right;
    cursor: pointer;
    height: 55px;
}

.user-msg {
    float: right;
}

.user-msg > .left {
    float: left;
    margin-right: 10px;
    font-size: 12px;
    line-height: 30px;
    text-align: right;
}

.user-msg > .left > .user-oper {
    display: block;
}

.user-msg > .left > .user-oper > a {
    color: #2196F3;
}

.nav {
    margin-top: 10px;
    overflow: hidden;
    background: linear-gradient(#03A9F4, #2196F3);
    border-radius: 4px;
}

.nav > .nav-item:first-child {
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    padding-left: 4px;
}

.nav > .nav-item {
    display: inline-block;
    cursor: pointer;
    background: linear-gradient(#03A9F4, #2196F3);
    padding: 4px;
    float: left;
}

.nav > .nav-item a {
    font-weight: 500;
    color: #ffffff;
}

.nav > .nav-item:not(:first-child):before {
    content: ' ';
    border-left: 1px solid #1cc3cc;
    position: relative;
    left: -4px;
}

.nav > .nav-item:hover {
    background: #1690f4;
}

.nav > .search {
    float: right;
    margin-right: 10px;
}

.nav > .search {
    height: 28px;
    line-height: 25px;
}

.search > .keydown {
    border-radius: 2px;
    border: 0;
    padding: 2px;
    outline: none;
}

.btn-search {
    border: 0;
    cursor: pointer;
    border-radius: 4px;
    vertical-align: middle;
}

.btn-search > .search-img {
    width: 16px;
    height: 16px;
}

.nav > .nav-item:hover > .nav-sub,
.nav-sub > .nav-sub-item:hover > .nav-sub {
    display: block;
}

.nav-sub {
    display: none;
    position: absolute;
    margin-top: 4px;
    margin-left: -4px;
    min-width: 90px;
    background: rgb(215, 215, 215);
    border: 1px solid rgb(201, 201, 201);
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    text-align: center;
    z-index: 100;
}

.nav-sub > .nav-sub-item > .nav-sub {
    display: none;
    margin: 0;
    top: -1px;
    right: calc(-100% - 2px);
}

.nav-sub > .nav-sub-item > .nav-sub:first-child {
    border-top: 1px solid rgb(201, 201, 201);
}

.nav-sub > .nav-sub-item:hover {
    background: #c2cad8;
}

.breadcrumb {
    margin-top: 4px;
    border: 1px solid #ccc;
    display: inline-block;
    border-radius: 3px;
    background: #ccc;
    padding: 2px;
    font-size: 12px;
    color: #929292;
    line-height: 15px;
    vertical-align: middle;
    min-width: 38px;
    text-align: center;
}

.breadcrumb > a {
    color: #03A9F4;
}

.select-group {
    /*border: 0px solid #cccccc;*/
    /*border-radius: 2px;*/
    border: 0px;
    outline: none;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    width: 40px;
    font-size: 12px;
}

.select-group > option {
    text-align: center;
}